@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #2597f4;
  border-radius: 5rem;
}

section {
  padding: 5rem 10%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  background: #fff;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #334;
  border: 0.2rem solid #334;
}
.btn:hover {
  background: #2597f4;
  border-color: #2597f4;
  color: #fff;
}

/* ======= Header Section/Seção do Cabeçalho ======= */
.header .contact-info {
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2597f4;
}
.header .contact-info p {
  font-size: 1.5rem;
  color: #fff;
}
.header .contact-info p i {
  padding-right: 0.5rem;
  color: yellow;
}
.header .navbar {
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 0.2rem solid #334;
  position: relative;
  z-index: 1000;
}
.header .navbar.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .navbar .logo {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #334;
  font-weight: bolder;
}
.header .navbar .logo i {
  color: #2597f4;
}
.header .navbar .links a {
  margin-left: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #334;
}
.header .navbar .links a:hover {
  text-decoration: underline;
  color: #2597f4;
}
.header #menu-btn {
  font-size: 3rem;
  cursor: pointer;
  color: #334;
  display: none;
}

/* ======= Home Section/Seção inicial ======= */
.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.home .image {
  flex: 1 1 40rem;
}
.home .image img {
  width: 100%;
}
.home .content {
  flex: 1 1 40rem;
}
.home .content h3 {
  font-size: 4.5rem;
  text-transform: capitalize;
  color: #334;
}
.home .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

/* ======= Responsive/Responsividade ======= */
@media (max-width: 1200px) {
  .header .contact-info {
    padding: 2rem 5%;
  }
  .header .navbar {
    padding: 2rem 5%;
  }

  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header .contact-info {
    padding: 2rem;
  }
  .header .navbar {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  .header .contact-info {
    display: none;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header .navbar .links {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.2rem solid #334;
    border-bottom: 0.2rem solid #334;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar .links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar .links a {
    display: block;
    margin: 2.5rem 2rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .content h3 {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
